<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Moviescape</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Select a location to see what was filmed</h1>
    </header>