<%- include('../partials/boilerplate') %>
<form id="movie" method="POST" action="/movies">
  <input type="text" name="name" placeholder="movie title">
  <textarea form="movie" name="description" placeholder="movie description"></textarea>
  </select>
  <input type="submit" value="Add soda">
</form>
<a href="/movies/">Back</a>
<%- include('../partials/footer') %>